

.letter-spaccing{
    letter-spacing: 1px;
}

.color-green{
    color:#1c6e26!important;
}

.sagoe-print{
    color:rgb(150, 152, 154)!important;
}

.font-size-24{
    font-size: 24px!important;
}

@media screen and (min-width: 991px) {
    h1{
        font-size: 72px;
    }
    
    h2{
        font-size: 64px;
    }



    h4{
        font-size: 40px;
    }

    h5{
        font-size: 24px;
    }
}


@media screen and (max-width: 991px) {
 
    
    h2{
        font-size: 38px;
    }

    h4{
        font-size: 25px;
    }

    h5{
        font-size: 16px;
    }

    .font-size-sm-10{
        font-size: 10px!important;
    }

    .font-size-sm-13{
        font-size: 13px!important;
    }

    .font-size-sm-16{
        font-size: 16px!important;
    }

    .font-size-sm-38{
        font-size: 38px!important;
    }
    
}