::placeholder, .color-gray{
    color: rgb(150, 152 , 154)!important;
}

.color-green, a{
    color:#1c6e26!important;
}

.sagoe-print{
    color:rgb(150, 152, 154)!important;
}

.font-size-24{
    font-size: 24px!important;
}

a:hover{
    text-decoration: none;
}

@media screen and (min-width: 991px) {
    h1{
        font-size: 72px;
    }
    
    h2{
        font-size: 65px;
    }

    h4{
        font-size: 40px;
    }

    h5{
        font-size: 24px;
    }
    
    .font-size-14{
        font-size: 14px;
    }

    .font-size-15{
        font-size: 15px;
    }

    .letter-spacing-4{
        letter-spacing: -4px;
    }

     
    .letter-spacing-2{
        letter-spacing: -2px;
    }

    .letter-spacing-15{
        letter-spacing: -1.5px;
    }

    .letter-spacing-1{
        letter-spacing: -1px;
    }

    .letter-spacing-02{
        letter-spacing: 0.2px;
    }
    
    .letter-spacing{
        letter-spacing: 0.4px;
    }
}

@media screen and (max-width: 991px) {
    h1{
        font-size: 42px;
    }
    
    h2{
        font-size: 40px;
    }

    h4{
        font-size: 24px;
    }

    h5{
        font-size: 14px;
    }

    .font-size-sm-10{
        font-size: 10px!important;
    }
    .font-size-sm-11{
        font-size: 11px!important;
    }

    .font-size-sm-12{
        font-size: 12px!important;
    }

    .font-size-sm-13{
        font-size: 13px!important;
    }

    .font-size-sm-14{
        font-size: 14px!important;
    }

    .font-size-sm-15{
        font-size: 15px!important;
    }


    .font-size-sm-16{
        font-size: 16px!important;
    }

    .font-size-sm-20{
        font-size: 20px!important;
    }


    .letter-sm-spacing{
        letter-spacing: -2.3px!important;
    }

    .letter-sm-1-spacing{
        letter-spacing: -1px;
    }

    .line-sm-height{
        line-height: 20px;
    }

    .line-sm-height-2{
        line-height: 33px;
    }
    .line-sm-height-3{
        line-height: 40px;
    }
}