.img-lg-top-left-radius{
    position: absolute;
    padding-right:520px;
    padding-top:140px;
}

.line-for-img{
    position: absolute;
    bottom: 28px;
}

.bg-image{
    position: absolute;
    margin-right: 150px;
}

@media screen and (max-width: 991px) {
    .background-logo{
        position: absolute;
        margin-top: 172px;
        margin-left: 8px;
        height:220px;
        padding-right: 20px;
    }

    .first-sm-line{
        position: absolute;
        margin-left:50%;
        margin-top:125px;
    }

    .background-sm-logo{
        position: absolute;
        margin-right: 50px;
    }

    .line-bellow-sm-img{
        position: absolute;
        margin-left:20px;
        margin-top: 12px;
    }

    .one-team-div-position{
        margin-top:-5rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
      .background-logo {
         position: absolute;
        margin-top: 110px;
        height: 280px;
        padding-right: 40px;
    } 
} 

@media screen and (min-width: 992px){
    .one-team-div-position{
        margin-top:-11rem;
    }

    .line-below-the-img{
            position: absolute;
            height: 80px;;
            margin-left: 190px;
            margin-top: 190px;
    } 
    
    .background-logo{
        position: absolute;
        margin-left: 40px;
        z-index: 1;
    }  
}

@media screen and (min-width: 1200px) {
    .one-team-div-position{
        margin-top:-11rem;
    }

    .line-below-the-img{
        position: absolute;
        height: auto;
        margin-top: 90px;
        margin-left: 210px;
    } 
    .background-logo{
        position: absolute;
        margin-left: 50px;
        z-index: 1;
    } 
}