body{
    font-family: 'Proza Libre', sans-serif;
    color: white;
}

.carousel-indicators li {
    border-radius: 50%!important;
    height: 10px!important;
    width: 10px!important;
    margin-right: 15px;
    background-color: silver;
    padding: 2px;
}

.carousel-indicators .active{
    background-color: green;
}


.carousel-indicators  {
position: relative;
margin-left: 0px;
}


.line-for-img{
    position: absolute;
    bottom: 28px;

}

 .rounded-top{
    border-top-left-radius: 3rem!important;
    border-top-right-radius: 3rem!important;
}

.rounded-bottom  {
    border-bottom-left-radius: 3rem!important;
    border-bottom-right-radius:3rem!important;
} 

.rounded-left-side{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.rounded-right-side{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.bg-green{
    background-color: #1c6e26;
}

.bg-silver{
    background-image: url("../images/bg-silver.PNG");
    background-position: center;
    background-size: cover;
}

.bg-gray{
    background-color:  #e9ecef;
}

.img-top-right-radius{
    position: absolute;
    z-index: 1;
}

.img-lg-top-left-radius{
    position: absolute;
    padding-right:520px;
    padding-top:140px;

 

}
.bg-image{
    position: absolute;
    margin-right: 150px;
  
}

.input-group-text{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;

}

.line-below-the-img{
    position: absolute;
    padding-left:220px;
    padding-top:470px;
}


.media-icon-size{
width: 37px;
height: 37px;
background-color: #939498;
}

.background-logo{
    position: absolute;
    margin-left: 50px;
    z-index: 1;
}

.img-line-before-women{
    position: absolute;
    padding-bottom: 80px;
    /* margin-right: 70px; */

}



@media screen and (min-width: 991px) {
    .rounded{
        border-radius: 3rem!important;
    }
    .one-team-div-position{
        margin-top:-11rem;
    }
}


@media screen and (max-width: 991px) {
    .background-logo{
        margin-top: 190px;
        margin-left: 0px;
        height:230px;
        padding-right: 20px;

    }


  
    #footer-position{
        position: absolute;
    }

.first-sm-line{
    position: absolute;
    margin-left:200px;
    margin-top:125px;
}
.rounded{
    border-radius: 2rem!important;
}

.background-sm-logo{
    position: absolute;
    margin-right: 50px;
}

.line-bellow-sm-img{
    position: absolute;
    margin-left:30px;
}

.one-team-div-position{
    margin-top:-5rem;
}


.navbar{
     position: absolute!important;  
      top: 0;
      left: 0;
      width: 100%;
     /* z-index: 1;   */

}
.navbar-light .navbar-toggler {
    position: absolute; 
    right: 20px;
    top:30px; 
    z-index: 2;
}
.navbar-collapse {
    /* position: absolute; */
    background-color: white;
    margin-top: 100px;
 
    z-index: 1; 

}
}

button:focus {
    outline: none;
}