body{
    font-family: 'Proza Libre', sans-serif;
    color: white;
}

html {
    scroll-behavior: smooth;
}

.carousel-indicators li {
    border-radius: 50%!important;
    height: 9px!important;
    width: 9px!important;
    margin-right: 15px;
    background-color: silver;
    padding: 2px;
}

.carousel-indicators .active{
    background-color: #1c6e26;
}

.carousel-indicators  {
position: relative;
margin-left: 0px;
}

.rounded-top{
    border-top-left-radius: 3rem!important;
    border-top-right-radius: 3rem!important;
}

.rounded-bottom  {
    border-bottom-left-radius: 3rem!important;
    border-bottom-right-radius: 3rem!important;
} 

.rounded-left-side{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.rounded-right-side{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.bg-green{
    background-color: #1c6e26;
}

.bg-secondary{
    background-color: rgb(150, 152, 154)!important;
}

.bg-silver{
    background-image: url("../images/bg-silver.PNG");
    background-position: center;
    background-size: cover;
}

.bg-gray{
    background-color:  #e9ecef;
}

.bg-light{
    background-color: rgb(241, 241, 242)!important;
}

.border-success{
    border-color:  #1c6e26!important;
}

.input-group-text{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.media-icon-size{
width: 35px;
height: 35px;
background-color: #939498;
}

button:focus {
    outline: none;
}

.img-top-right-radius{
    position: absolute;
    z-index: 1;
}

.new-icon-size{
    font-size: 1.5rem;
}

input:focus{
    box-shadow: none!important;
    outline: none;
}

@media screen and (min-width: 991px) {
    .rounded{
        border-radius: 3rem!important;
    }

    .navbar-nav > .active  {
        background-color: #1c6e26;
    }

    .navbar-nav > .active > a  {
        color: white!important;
    }

    .border-lg-top{
        border-top:solid 1px silver;
    }
}


@media screen and (max-width: 991px) {
    #footer-position{
        position: absolute;
    }

    .rounded{
        border-radius: 2rem!important;
    }

    .navbar{
        position: absolute!important;  
        top: 0;
        left: 0;
        width: 100%;
        /* z-index: 1;   */
    }

    .navbar-light .navbar-toggler {
        position: absolute; 
        right: 20px;
        top:24px; 
        z-index: 2;
    }

    .navbar-collapse {
        background-color: white;
        margin-top: 80px;
        z-index: 1; 
    }

    .rounded-sm-top{
        border-top-left-radius: 1rem!important;
        border-top-right-radius: 1rem!important;
    }
    
    .rounded-sm-bottom{
        border-bottom-left-radius: 1.5rem!important;
        border-bottom-right-radius:1.5rem!important;
    } 

    .fa-2x {
        font-size: 1.2em;
    }
    .fa-ellipsis-v{
        font-size: 2.2rem;
        color: #1c6e26;;
    }
}